<h1>Public::Customers#unsubscribe</h1>
<br>
<div class="container">
  <div style="h2 text-align:center;">
    <div><span style="font-size:36px">本当に退会しますか？</span></div>
  </div>
  <br>
  <br>
  <div style="h4 text-align:center;">
    <p>退会すると、会員登録情報や</p>
    <p>これまでの購入履歴が閲覧できなくなります。</p>
    <p>退会する場合は、「退会する」をクリックしてください。</p>
    <br>
  </div>

  <div style="text-align:center;">
    <%= link_to "　退会しない　", customers_information_edit_path(current_customer), class: "btn btn-primary text-light btn-lg mx-5" %>
    <%= link_to "　退会する　", customers_withdraw_path(current_customer), method: :patch, data: { confilm: "本当に退会しますか？" }, class: "btn btn-danger text-light btn-lg mx-5" %>
  </div>
    <br>
</div>