<h1>Public::Homes#about</h1>
<div class="container">
  <div class"row">
    <div class="d-flex align-items-center justify-content-center">
      <div><h1><span style="font-size:72px">ながのCAKEとは？</span></h1></div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class"row">
    <h3><b>ながのCAKEは全国発送可能なケーキ屋さんです。</b></h3><br>
    <h3><b>お子様からお年寄りまでお召し上がりいただけるよう、</b></h3><br>
    <h3><b>様々なバリエーションをご用意しております。</b></h3><br>
    <h3><b>また、全国へ発送可能ですので「いつでも」「どこでも」ご注文いただけます。</b></h3><br>
    <h3><b>パティシエの自信作をぜひお楽しみください。</b></h3><br>
  </div>
  <br>
  <div class="row">
  <%= image_tag 'about', size: "900x480" %>
  </div>
  <br>
  <br>
  <br>
</div>
