<h1>Public::Orders#complete</h1>
<p>Find me in app/views/public/orders/complete.html.erb</p>
    <div class="d-flex align-items-center justify-content-center">
      <div><h1><span style="font-size:72px">ご注文ありがとうございました！</span></h1></div>
    </div>